.root{
	-fx-min-width: 400px;
	-fx-min-height: 500px;
	-fx-background-color: #ffffff;
}

.client{
	-fx-text-fill: black;
	-fx-font-size: 70px;
	-fx-font-family: 'Sansita Swashed';
}


.message{
	-fx-text-fill: black;
	-fx-font-size: 15px;
	-fx-font-family: 'Sansita Swashed';
	-fx-background-color: #ffffff;
}

.chat{
	-fx-text-fill: black;
	-fx-background-color: #ffffff;
	-fx-font-size: 15px;
	-fx-font-family: 'Sansita Swashed';
	
}


.reset{
	-fx-text-fill: black;
	-fx-font-family: 'Sansita Swashed';
	
	-fx-background-color: #9f9f9f;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-border-radius: 50px;
}

.join{
	-fx-text-fill: white;
	-fx-font-family: 'Sansita Swashed';
	
	-fx-background-color: black;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-border-radius: 50px;
}
.num{
	-fx-text-fill: black;
	-fx-font-size: 70px;
	-fx-font-family: 'Sansita Swashed';
}

.send{
	-fx-text-fill: white;
	-fx-font-family: 'Sansita Swashed';
	
	-fx-background-color: black;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-border-radius: 50px;
}
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */